chess-square {
    display: block;
    min-width: 12.5%;
    height: 12.5%;
}

chess-square[ng-reflect-type="dark"] {
    background: #D18B47;
}

chess-square[ng-reflect-type="light"] {
    background: #FFCE9E;
}
